/* font-family: 'Nova Square', cursive;
font-family: 'Rajdhani', sans-serif; */

:root {
    --rosso: #8B0F02
}

* {
    font-family: 'Rajdhani', sans-serif;
}

strong {
    font-size: 80px;
    color: var(--rosso);
}

.logo {
    height: 90px;
    width: 180px;
}

a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255);
    height: 25vh;
}

.header {
    background: linear-gradient(rgb(255, 255, 255), rgba(194, 194, 194, 0)), url(./media/switzerland-862870_1920.jpg);
    /* flex-direction: column; */
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    bottom: 0;
    /* z-index: 99; */
}

.titolo {
    font-size: 10vh;
    color: var(--rosso);
    font-family: 'Nova Square', cursive;
    /* letter-spacing: 50px; */
    justify-content: center;
    max-width: max-content;
    
}

/* .montagne { */
    /* background: url(./media/mountains2.png); */
    /* z-index: 100; */
    /* align-items: center;
    background-size: contain;
    background-repeat: no-repeat; */
/* } */

#citazione {
    font-size: 20px;
    font-style: italic;
}

.pulsante {
    background-color: var(--rosso);
}

.bottone {
    margin-top: 7rem;
    margin-bottom: -12rem;
}

.pulsante:hover {
    background-color: var(--rosso) !important;
}

body, .carta {
    background-color: #ECECEC;
    /* max-width: 100%; */
}

.carte {
    background-color: #ECECEC;
}

.immagini {
    border-radius: 50%;
}

main {
    margin-bottom: 300px;
}

/* section {
    position: relative;
} */

footer {
    background-color: var(--rosso);
    color: #ffffff;
}

.icone {
    color: var(--rosso);
}

.parte_superiore {
    height: 100vh;
}

.rounded-image {
    border: solid var(--rosso) 6px;
    padding: 7px;
}