/* font-family: 'Nova Square', cursive;
font-family: 'Rajdhani', sans-serif; */

:root {
    --rosso: #8B0F02
}

* {
    font-family: 'Rajdhani', sans-serif;
}

.color-1 {
    color: var(--rosso);
}

.titolo {
    font-size: 10vh;
    color: var(--rosso);
    font-family: 'Nova Square', cursive;
}

@media (max-width: 375px) {
    .titolo {
        letter-spacing: 10px;
    }
    nav {
        height: fit-content;
    }
}

@media (min-width: 768px) {
    .titolo {
        letter-spacing: 3rem;
    }
}

strong {
    font-size: 80px;
    color: var(--rosso);
}

.logo {
    height: 90px;
    width: 180px;
}

a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255);
    height: 25vh;
}

header {
    background: linear-gradient(rgb(255, 255, 255), rgba(194, 194, 194, 0)), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    bottom: 0;
}


#citazione {
    font-size: 20px;
    font-style: italic;
}

.pulsante {
    background-color: var(--rosso);
}

.pulsante:hover {
    background-color: var(--rosso) !important;
}

body {
    background-color: #ECECEC;
}

.carte {
    background-color: #ECECEC;
}

main {
    margin-bottom: 300px;
}

footer {
    background-color: var(--rosso);
    color: #ffffff;
}

.icone {
    color: var(--rosso);
}

.parte_superiore {
    height: 100vh;
}

.rounded-image {
    border: solid var(--rosso) 6px;
    padding: 7px;
}